<p id="notice"><%= notice %></p>

<p>

   <%if @ripple.website.nil?%>
       <%= @ripple.name %> said:
       <%else %>
         <a href="//<%=@ripple.website%>"><%= @ripple.name %></a> said:
       <%end%>

</p>

<p>
  
  <%= @ripple.message %>
</p>


<%= link_to 'Back', ripples_path %>
